<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> -->
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/guiops.js"></script>

<!-- HTTPS required. HTTP will give a 403 forbidden response -->
<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
  <title>Tournament Generator</title>
  </head>
  <body class="bg-dark">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-dark center">
  <class="navbar-brand" href="#"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav bg-mech">
      <div class="row">
        <div class="col-sm border border-secondary"><img src="https://mwomercs.com/static/img/theme/mainMenuLogo.png?v2" class="d-inline-block align-top" alt=""></div>
        <div class="col-sm border border-secondary"><a class="nav-item nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></div>
        <div class="col-sm border border-secondary"><a class="nav-item nav-link text-white" href="/login">Login</a></div>
      <!-- <div class="col-sm border border-secondary"><a class="nav-item nav-link text-white" href="/tournament">Games</a></div> -->
      </div>
    </div>
  </div>          
    </nav>

    <div class="container-fluid header py-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 mb-3 text-center">
                    <!-- <img src="https://mwomercs.com/static/img/theme/mainMenuLogo.png?v2" class="d-inline-block align-top" alt=""> -->
                </div>
                <div class="col-12 col-md-9">
                    <h1 class="display-3 text-white">Tournament Generator</h1>
                    <h6 class="lead desc text-white"><i>// Beta Build</i></h6>
                </div>
            </div>
        </div>      
    </div>
    </div>
  <div id="main">
    {{{body}}}
  </div>

  
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://static.mwomercs.com/img/hero/bg/e3da64ba258a770abbb3f2c3ffc816cf.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Mechwarrior Online</h1>
                <p>This tournament generator is mainly intended for the game Mechwarrior Online. But you can also use it for any other game.</p>
                <p><a class="btn btn-lg btn-primary" href="https://mwomercs.com/signup" target="_blank" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="https://static.mwomercs.com/img/hero/bg/1041826d21f43499ae070f246fa065a8.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>News</h1>
                <p>To learn more about Mechwarrior Online, click on the button "Learn more".</p>
                <p><a class="btn btn-lg btn-primary" href="https://mwomercs.com/" target="_blank" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="https://mwomercs.com/static/img/hero/bg/941512f12f552a5e9452b68711c33b9f.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Insights into the game</h1>
                <p>To get a first impression of the game, click on the button "Browse gallery".</p>
                <p><a class="btn btn-lg btn-primary" href="https://mwomercs.com/media" target="_blank" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <footer class="footer">
      <div class="container mt-5">
        <span class="text-muted">© 2018 by bootstrap</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>