<!-- to use this alert page:
give the following vars during res.render:
- 'returnURL' = page this form will load upon pressing the confirm button
- 'alertText' = Text the Alert will show
-->

<form method="GET" action={{{returnURL}}} enctype="application/x-www-form-urlencoded">
    <label>{{alertText}}</label>
    <!--<input type="hidden" name="tournName" value={{tournName}}>-->
    <input type="submit" data-rel="back" value="I understand.">
</form>