<!--
#
# Confirmation page 2: given match has a winner entered
# this generates a form to confirm the result with the second key
# planned feature: second player can reset data of match if first person made a mistake
# HIGH PRIORITY TODO
#
    -->

<form method="POST" action="/tournament" enctype="application/x-www-form-urlencoded">
    <label>Confirm result for match {{match.name}} in tournament {{tournName}}</label>
    <input type="hidden" name="tournName" value={{tournName}}>
    <input type="hidden" name="action" value="confirm">
    <input type="hidden" name="matchID" value={{matchID}}>
    <br>
    <input type='hidden' name='state' value='1'>
    <label>{{{winner}}} was declared winner of this match! Please enter the confirmation code of {{{confirmedBy}}} below."</label>
    <br>
    <label>Please enter your confirmation key:</label>
    <br>
    <input type='text' name='key'>
    <input type='submit' data-rel='back' value='check confirmation code'>";
        
    
    <!-- confirm form with radio buttons
    # maybe use this to overwrite?
    <label>Please select the winner of the match:</label>
    <br>
    <fieldset>
        <input type="radio" id="p1" name="winner" value={{match.player1}}>
        <label for="p1">{{match.player1}}</label> 
        <input type="radio" id="p2" name="winner" value={{match.player2}}>
        <label for="p2">{{match.player2}}</label>
    </fieldset> -->

</form>