<!--
#
# Confirmation page 3: given match has been confirmed
# user should nver get here, it's mostly an emergency catch
# potential place for admin features
#
    -->
<form method="POST" action="/tournament" enctype="application/x-www-form-urlencoded">
    <label>Confirm result for match {{match.name}} in tournament {{tournName}}</label>
    <input type="hidden" name="tournName" value={{tournName}}>
    <input type="hidden" name="action" value="confirm">
    <input type="hidden" name="matchID" value={{matchID}}>
    <br>

    <input type='hidden' name='state' value='2'>
    <label>" + {{{winner}}} + " was declared winner of this match!"</label>
    <br>
    <input type='submit' data-rel='back' value='Take me back!'>
    
    <!-- confirm form with radio buttons
    <label>Please select the winner of the match:</label>
    <br>
    <fieldset>
        <input type="radio" id="p1" name="winner" value={{match.player1}}>
        <label for="p1">{{match.player1}}</label> 
        <input type="radio" id="p2" name="winner" value={{match.player2}}>
        <label for="p2">{{match.player2}}</label>
    </fieldset> -->

</form>