<!--
#
# Confirmation page 1: given match has no data entered
# this generates a form to select a winner and enter that person with the first key
#
    -->

<form method="POST" action="/tournament" enctype="application/x-www-form-urlencoded">
    <label>Confirm result for match {{match.name}} in tournament {{tournName}}</label>
    <input type="hidden" name="tournName" value={{tournName}}>
    <input type="hidden" name="action" value="confirm">
    <input type="hidden" name="matchID" value={{matchID}}>
    <br>
    <input type='hidden' name='state' value='0'>
    <label>Please select the winner of the match:</label>
    <br>
    <fieldset>
        <input type='radio' id='p1' name='winner' value={{match.player1}}>
        <label for='p1'>{{match.player1}}</label>
        <input type='radio' id='p2' name='winner' value={{match.player2}}>
        <label for='p2'>{{match.player2}}</label>
    </fieldset>"
    <br>
    <label>Please enter your confirmation key:</label>
    <br>
    <input type='text' name='key'>
    <input type='submit' data-rel='back' value='check confirmation code'>
</form>

    <!-- geht alles nicht weil handlebars kacke.
    ####
    #### old code as planned, not working.
    #### in here as demo/for potential future use
    ####
    <script>
        var para = document.createElement("P");                       // Create a <p> node       
        var htmlData = "";
        //states: 0=no result entered, 1=winner entered but nt yet confirmed, 2=confirmed and done
        if ({{state}} == "0") {
            htmlData = "<input type='hidden' name='state' value='0'><label>Please select the winner of the match:</label><br><fieldset><input type='radio' id='p1' name='winner' value={{match.player1}}><label for='p1'>{{match.player1}}</label><input type='radio' id='p2' name='winner' value={{match.player2}}><label for='p2'>{{match.player2}}</label></fieldset>";
            htmlData = htmlData + "<br><label>Please enter your confirmation key:</label><br><input type='text' name='key'><input type='submit' data-rel='back' value='check confirmation code'>";
        } else if ({{state}} == "1"){
            htmlData = "<input type='hidden' name='state' value='1'><label>" + {{{winner}}} + " was declared winner of this match! Please enter the confirmation code of " + {{{confirmedBy}}} + " below.";
            htmlData = htmlData + "<br><label>Please enter your confirmation key:</label><br><input type='text' name='key'><input type='submit' data-rel='back' value='check confirmation code'>";
        } else if ({{state}} == "2"){
            //might be more efficient to do as alert?
            htmlData = "<input type='hidden' name='state' value='2'><label>" + {{{winner}}} + " was declared winner of this match!";
            htmlData = htmlData + "<br><input type='submit' data-rel='back' value='Take me back!'>";
        } else {
            htmlData = "Error?";
            htmlData = htmlData + "<br><input type='submit' data-rel='back' value='What the hell?'>";
        }
        para.appendChild(htmlData);                                          // Append the text to <p>
        document.getElementById("myDIV").appendChild(para);           // Append <p> to <div> with id="myDIV" 

    //document.getElementById("mainSpace").innerHTML = htmlData;

    </script>
    -->
    
    <!-- confirm form with radio buttons
    <label>Please select the winner of the match:</label>
    <br>
    <fieldset>
        <input type="radio" id="p1" name="winner" value={{match.player1}}>
        <label for="p1">{{match.player1}}</label> 
        <input type="radio" id="p2" name="winner" value={{match.player2}}>
        <label for="p2">{{match.player2}}</label>
    </fieldset> -->

