<!--
#
# Index page form
# a new tourament can be created here by simply entering it's name
#
    -->
    
    <div class="container bg-secondary rounded text-center mt-5">
        <form class="form-signin" action="/" method="POST"> <!-- Post des Namens an die Route -->
            <h1 class="h3 mb-3 font-weight-normal">Generate Tournament</h1>
            <input type="text" name="Iname" class="form-control" placeholder="Enter Tournamentname" required="">
            <button class="mt-3 btn btn-lg btn-warning btn-block" type="submit">Generate</button>
            <p class="mt-3 mb-3 text-muted">&copy; 2018</p>
    </form>
    </div>