<div class="container text-white mt-4">
    <div>
        <h2>Login</h2>
    </div>
    <form method="POST" action="/users" enctype="application/x-www-form-urlencoded">
        <div class="container mt-3" id="Daten_Registrierung">
            <div class="Datensatz">
                <label>Username</label>
                <input type="text" name="username">
            </div>
            <div class="container mt-2">
                <input type="submit" value="Einloggen">
            </div>
        </div>
    <div class="container mt-2">
        <button class="btn btn-outline-danger my-2 my-sm-0" href="/auth/google">Google+</button>
    </div>
    </form>

</div>