<!--
#
# list fo current players and action to add players and start the tourny
#
    -->

{{#each playerList}}
<li>{{this}}</li>
{{/each}}

<form method="POST" action="/tournament" enctype="application/x-www-form-urlencoded">
    <label>Name of the new player:</label>
    <input type="hidden" name="tournName" value={{tournName}}>
    <input type="hidden" name="action" value="addPlayer">
    <input type="text" name="playerName">
    <input type="submit" value="Add Player">
</form>

<form method="POST" action="/tournament" enctype="application/x-www-form-urlencoded">
    <label>Enter the admin Keycode to generate the Tournament!</label>
    <input type="hidden" name="tournName" value={{tournName}}>
    <input type="hidden" name="action" value="start">
    <input type="text" name="code">
    <input type="submit" value="Generate Tournament">
</form>