<!-- 
#
# show Tournament plan: Table with matches where each match is a Button/Hyperink to enter/confirm the result of the match 
# also contains the results
# HTML is generated in tournamentLogic 
#
-->


<!-- deprecated / debug code
{{#each matchesOut}}
<li>{{this}}</li>
{{/each}}
-->
<div class="container bg-secondary rounded text-center mt-5 text-white">
<p id="tableSpace"> </p>
<script>
document.getElementById("tableSpace").innerHTML = {{{tableData}}};
</script>

<br>

<label>Results:</label>
<p id="resultSpace"> </p>
<script>
document.getElementById("resultSpace").innerHTML = {{{resultData}}};
</script>
</div>