/* Backgorunds */
.bg-main {
    background-color: darkred;
    color: black;
}
.desc {
    font-size: 1.75rem;
}

.header .col-12:last-child {
    border-top: 1px solid aliceblue;
    text-align: center;
}

@media (min-width: 768px) {
    .header .col-12:last-child {
        border: 0px;
        text-align: left;
    }
}